.pn-in.clfx
  %table.sortTab
    %tbody
      %tr
        %th#thName.sortNon.thName
          %a#lnkName{:href => "javascript:__doPostBack('ctl00$ctl00$ctl00$ctl00$ContentPlaceHolderDefault$ContentContainerCentre$BaselineContainerCentre$TournamentCalendar_6$rptTournamentCalendar$ctl00$lnkName','')"} Name
        %th#thNation.sortNon.thNation
          %a#lnkNation{:href => "javascript:__doPostBack('ctl00$ctl00$ctl00$ctl00$ContentPlaceHolderDefault$ContentContainerCentre$BaselineContainerCentre$TournamentCalendar_6$rptTournamentCalendar$ctl00$lnkNation','')"} Nation
        %th#thDate.sortAsc.thDate
          %a#lnkDate{:href => "javascript:__doPostBack('ctl00$ctl00$ctl00$ctl00$ContentPlaceHolderDefault$ContentContainerCentre$BaselineContainerCentre$TournamentCalendar_6$rptTournamentCalendar$ctl00$lnkDate','')"} Date
        %th#thCategory.sortNon.thCategory
          %a#lnkCategory{:href => "javascript:__doPostBack('ctl00$ctl00$ctl00$ctl00$ContentPlaceHolderDefault$ContentContainerCentre$BaselineContainerCentre$TournamentCalendar_6$rptTournamentCalendar$ctl00$lnkCategory','')"} Grade
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName0{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041319"}> Chandigarh ITF Juniors
              
        %td
          %span.flagLeft
            %img.flag14.f14IND{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            IND
        %td{:style => "white-space: nowrap;"}
          01 Jan - 06 Jan 2018
        %td
          Grade 3
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName1{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041307"}> China Junior 1 Grade 4
              
        %td
          %span.flagLeft
            %img.flag14.f14CHN{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            CHN
        %td{:style => "white-space: nowrap;"}
          01 Jan - 07 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName2{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041219"}> SALK Open
              
        %td
          %span.flagLeft
            %img.flag14.f14SWE{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            SWE
        %td{:style => "white-space: nowrap;"}
          03 Jan - 07 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName3{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041222"}> EuroElite ITF Junior Malmo Open
              
        %td
          %span.flagLeft
            %img.flag14.f14SWE{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            SWE
        %td{:style => "white-space: nowrap;"}
          08 Jan - 13 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName4{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041246"}> 17th UAE - Abu Dhabi ITF Junior Championships by ADSC
              
        %td
          %span.flagLeft
            %img.flag14.f14UAE{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            UAE
        %td{:style => "white-space: nowrap;"}
          08 Jan - 13 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName5{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041209"}> Belgrade Open 2018
              
        %td
          %span.flagLeft
            %img.flag14.f14SRB{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            SRB
        %td{:style => "white-space: nowrap;"}
          08 Jan - 12 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName6{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041212"}> ITF U18 ' The 25th Slovak Junior Indoor 2018 '
              
        %td
          %span.flagLeft
            %img.flag14.f14SVK{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            SVK
        %td{:style => "white-space: nowrap;"}
          08 Jan - 14 Jan 2018
        %td
          Grade 2
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName7{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041322"}> Delhi ITF Juniors
              
        %td
          %span.flagLeft
            %img.flag14.f14IND{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            IND
        %td{:style => "white-space: nowrap;"}
          08 Jan - 13 Jan 2018
        %td
          Grade 2
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName8{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041308"}> China Junior 2 Grade 4
              
        %td
          %span.flagLeft
            %img.flag14.f14CHN{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            CHN
        %td{:style => "white-space: nowrap;"}
          09 Jan - 14 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName9{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041316"}> ITF Saitama Junior Tennis 2018
              
        %td
          %span.flagLeft
            %img.flag14.f14JPN{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            JPN
        %td{:style => "white-space: nowrap;"}
          10 Jan - 14 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName10{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041169"}> AGL Loy Yang Traralgon Junior International
              
        %td
          %span.flagLeft
            %img.flag14.f14AUS{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            AUS
        %td{:style => "white-space: nowrap;"}
          13 Jan - 18 Jan 2018
        %td
          Grade 1
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName11{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041170"}> RPM Junior Open 2018
              
        %td
          %span.flagLeft
            %img.flag14.f14CZE{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            CZE
        %td{:style => "white-space: nowrap;"}
          15 Jan - 21 Jan 2018
        %td
          Grade 1
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName12{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041324"}> DKS ITF Juniors 2018
              
        %td
          %span.flagLeft
            %img.flag14.f14IND{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            IND
        %td{:style => "white-space: nowrap;"}
          15 Jan - 20 Jan 2018
        %td
          Grade 2
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName13{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041172"}> SPORT HOTEL KURZ - Junior Classic 18 &amp; Under
              
        %td
          %span.flagLeft
            %img.flag14.f14AUT{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            AUT
        %td{:style => "white-space: nowrap;"}
          15 Jan - 21 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName14{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041247"}> 10th UAE - Fujairah ITF Junior Championships
              
        %td
          %span.flagLeft
            %img.flag14.f14UAE{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            UAE
        %td{:style => "white-space: nowrap;"}
          15 Jan - 20 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName15{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041276"}> EFG Hong Kong ITF Junior Tennis Tournament 2018 (G4)
              
        %td
          %span.flagLeft
            %img.flag14.f14HKG{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            HKG
        %td{:style => "white-space: nowrap;"}
          15 Jan - 20 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName16{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041334"}> 54th Coffee Bowl (Copa Del Cafe)
              
        %td
          %span.flagLeft
            %img.flag14.f14CRC{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            CRC
        %td{:style => "white-space: nowrap;"}
          15 Jan - 20 Jan 2018
        %td
          Grade 1
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName17{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041301"}> Kfar Hamaccabiah 1
              
        %td
          %span.flagLeft
            %img.flag14.f14ISR{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            ISR
        %td{:style => "white-space: nowrap;"}
          15 Jan - 20 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName18{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041181"}> Central Osiguranje 1
              
        %td
          %span.flagLeft
            %img.flag14.f14BIH{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            BIH
        %td{:style => "white-space: nowrap;"}
          15 Jan - 21 Jan 2018
        %td
          Grade 5
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName19{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041704"}> Anguilla Cup 2018
              
        %td
          %span.flagLeft
            %img.flag14.f14AIA{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            AIA
        %td{:style => "white-space: nowrap;"}
          15 Jan - 20 Jan 2018
        %td
          Grade 5
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName20{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041534"}> Warsaw Cup
              
        %td
          %span.flagLeft
            %img.flag14.f14POL{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            POL
        %td{:style => "white-space: nowrap;"}
          17 Jan - 21 Jan 2018
        %td
          Grade 5
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName21{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041167"}> Australian Open Junior Championships
              
        %td
          %span.flagLeft
            %img.flag14.f14AUS{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            AUS
        %td{:style => "white-space: nowrap;"}
          20 Jan - 27 Jan 2018
        %td
          Grade A
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName22{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041379"}> 2018 Tecnifibre Tennis Central Championships
              
        %td
          %span.flagLeft
            %img.flag14.f14NZL{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            NZL
        %td{:style => "white-space: nowrap;"}
          22 Jan - 27 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName23{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041323"}> Indore ITF Juniors
              
        %td
          %span.flagLeft
            %img.flag14.f14IND{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            IND
        %td{:style => "white-space: nowrap;"}
          22 Jan - 27 Jan 2018
        %td
          Grade 5
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName24{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041183"}> Central Osiguranje 2
              
        %td
          %span.flagLeft
            %img.flag14.f14BIH{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            BIH
        %td{:style => "white-space: nowrap;"}
          22 Jan - 28 Jan 2018
        %td
          Grade 5
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName25{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041302"}> Kfar Hamaccabiah 2
              
        %td
          %span.flagLeft
            %img.flag14.f14ISR{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            ISR
        %td{:style => "white-space: nowrap;"}
          22 Jan - 28 Jan 2018
        %td
          Grade 5
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName26{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041330"}> Capital Cup 2018
              
        %td
          %span.flagLeft
            %img.flag14.f14KAZ{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            KAZ
        %td{:style => "white-space: nowrap;"}
          22 Jan - 27 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName27{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041351"}> ITF East African 18 &amp; Under Junior Circuit 2018
              
        %td
          %span.flagLeft
            %img.flag14.f14KEN{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            KEN
        %td{:style => "white-space: nowrap;"}
          22 Jan - 27 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName28{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041263"}> Copa Claro Capital de Vida
              
        %td
          %span.flagLeft
            %img.flag14.f14COL{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            COL
        %td{:style => "white-space: nowrap;"}
          22 Jan - 28 Jan 2018
        %td
          Grade 1
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName29{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041248"}> Donetsk City Cup
              
        %td
          %span.flagLeft
            %img.flag14.f14UKR{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            UKR
        %td{:style => "white-space: nowrap;"}
          22 Jan - 28 Jan 2018
        %td
          Grade 2
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName30{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041396"}> ITF Junior T.C.Hammamet Tunisia (Grade 2)
              
        %td
          %span.flagLeft
            %img.flag14.f14TUN{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            TUN
        %td{:style => "white-space: nowrap;"}
          23 Jan - 28 Jan 2018
        %td
          Grade 2
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName31{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041279"}> Magnolia Cup
              
        %td
          %span.flagLeft
            %img.flag14.f14POL{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            POL
        %td{:style => "white-space: nowrap;"}
          23 Jan - 28 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName32{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041173"}> I. CLTK Praha Cup by Tecnifibre
              
        %td
          %span.flagLeft
            %img.flag14.f14CZE{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            CZE
        %td{:style => "white-space: nowrap;"}
          24 Jan - 28 Jan 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName33{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041210"}> Swiss Junior Trophy
              
        %td
          %span.flagLeft
            %img.flag14.f14SUI{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            SUI
        %td{:style => "white-space: nowrap;"}
          29 Jan - 03 Feb 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName34{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041378"}> Wilson Tennis Canterbury ITF
              
        %td
          %span.flagLeft
            %img.flag14.f14NZL{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            NZL
        %td{:style => "white-space: nowrap;"}
          29 Jan - 03 Feb 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName35{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041348"}> 7th Nairobi International Junior Championships
              
        %td
          %span.flagLeft
            %img.flag14.f14KEN{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            KEN
        %td{:style => "white-space: nowrap;"}
          29 Jan - 03 Feb 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName36{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041303"}> Tel Aviv Open ITF Junior 2018
              
        %td
          %span.flagLeft
            %img.flag14.f14ISR{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            ISR
        %td{:style => "white-space: nowrap;"}
          29 Jan - 03 Feb 2018
        %td
          Grade 5
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName37{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041188"}> Egypt 1 ITF Junior Tournament - G5
              
        %td
          %span.flagLeft
            %img.flag14.f14EGY{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            EGY
        %td{:style => "white-space: nowrap;"}
          29 Jan - 02 Feb 2018
        %td
          Grade 5
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName38{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041380"}> 3rd Fajr Junior Tournament
              
        %td
          %span.flagLeft
            %img.flag14.f14IRI{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            IRI
        %td{:style => "white-space: nowrap;"}
          29 Jan - 03 Feb 2018
        %td
          Grade 5
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName39{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041538"}> ITF Stavanger
              
        %td
          %span.flagLeft
            %img.flag14.f14NOR{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            NOR
        %td{:style => "white-space: nowrap;"}
          29 Jan - 03 Feb 2018
        %td
          Grade 5
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName40{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041309"}> China Junior 3 Grade 4
              
        %td
          %span.flagLeft
            %img.flag14.f14CHN{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            CHN
        %td{:style => "white-space: nowrap;"}
          30 Jan - 04 Feb 2018
        %td
          Grade 4
      %tr
        %td
          %span.liveScoreTd
            %a#lnkName41{:href => "/juniors/tournaments/tournament/info.aspx?tournamentid=1100041397"}> ITF Junior FTT Tunisia (Grade 2)
              
        %td
          %span.flagLeft
            %img.flag14.f14TUN{:alt => " flag", :src => "/itf/images/pixel.gif"}>/
            TUN
        %td{:style => "white-space: nowrap;"}
          30 Jan - 04 Feb 2018
        %td
          Grade 2

