#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br
      %br
      %h1.header.center.teal-text.text-lighten-2 Parallax Template
      .row.center
        %h5.header.col.s12.light A modern responsive front-end framework based on Material Design
      .row.center
        %a#download-button.btn-large.waves-effect.waves-light.teal.lighten-1{:href => "http://materializecss.com/getting-started.html"} Get Started
      %br
      %br
  .parallax
    %img{:alt => "Unsplashed background img 1", :src => "view.jpg"}/




/ %p.white-text Hank's Personal website

/ %p.white-text Who am I


/ %p.white-text What is my dream

/ %a{:href www.github/hank860502.com } Github

/ %a{:href => www.linkedin/hank860502.com } Linkedin