.slider
  %ul.slides
    %li
      %a{:href => "/developer"}
        %img{:src => "view.jpg"}/
        .caption.center-align
          %h3 Developer
          %h5.light.grey-text.text-lighten-3 Making beautiful and meaningful things
    %li
      %a{:href => "/entrepreneur"}
        %img{:src => "coffee.jpg"}/
        .caption.left-align
          %h3 Entrepreneur
          %h5.light.grey-text.text-lighten-3 "Do. Or do not. There is no try." - Yoda, Jedi Master.  
    %li
      %a{:href => "/athlete"}
        %img{:src => "hank.jpg"}/
        .caption.right-align
          %h3 Athlete
          %h5.light.grey-text.text-lighten-3 Tennis player from Taiwan
.container
  .section
    / Icon Section
    .row
      .col.s12.m4
        .icon-block
          %h2.center.black-text
            %a.black-text.link{:href => "/developer"}
              %i.material-icons airplay
          .center.font_poppins DEVELOPER
          %p.light.intro In August, 2015, I attend my first Hackathon in National Taiwan University, where my interest in computer starts. Learning 3 computer languages, 13 frameworks for web and mobile application development, and 2 test-driven delvelopment, I graduated from Dev Bootcamp in San Francisco during...
          %p.light.intro.more_text  In August, 2015, I attend my first Hackathon in National Taiwan University, where my interest in computer starts. Learning 3 computer languages, 13 frameworks for web and mobile application development, and 2 test-driven delvelopment, I graduated from Dev Bootcamp in San Francisco during my gap year. Attending big and small competition, I persue my interest in programing and develop my skills in web and mobile development. With my talent in web and mobile application development, my motivation to keep improving is to produce tools that enhance the quality of lives.

      .col.s12.m4
        .icon-block
          %h2.center.black-text
            %a.black-text.link{:href => "/entrepreneur"}
              %i.material-icons group
          .center.font_poppins ENTREPRENEUR
          %p.light.intro Combining the practical skills as a developer, and the personality of diversity-mainly built from traveling and working with people from varieties of countries, as a tennis player, I am now able to fulfill most of my startup ideas. What motivates me to learn and to innovate is a “positive jealousy”. People who are more...
          %p.light.intro.more_text Combining the practical skills as a developer, and the personality of diversity-mainly built from traveling and working with people from varieties of countries, as a tennis player, I am now able to fulfill most of my startup ideas. What motivates me to learn and to innovate is a “positive jealousy”. People who are more successful than I make me feel a strong curiosity that makes eager to learn. Therefore, I enjoy stepping out of my comfort zone and embrace myself in an unfamiliar enviroment for my best learning. In conclusion, passionate and preseverance are the words to describe myself as an entrepreneur.
      .col.s12.m4
        .icon-block
          %h2.center.black-text
            %a.black-text.link{:href => "/athlete"}
              %i.material-icons power_settings_new
          .center.font_poppins ATHLETE
          %p.light.intro Playing tennis at the professional level since my teenage years allowed me to bring discipline, integrity and perseverance to any goal I am determined to succeed in. Competing in junior's and men's tournaments around the world for more than 8 years, playing 500+ official matches, 50+ cities in 13 countries...
          %p.light.intro.more_text Playing tennis at the professional level since my teenage years allowed me to bring discipline, integrity and perseverance to any goal I am determined to succeed in. Competing in junior's and men's tournaments around the world for more than 8 years, playing 500+ official matches, 50+ cities in 13 countries, and 100000+ hours on practicing, I could not ask for a more plentiful childhood than this. With the highest ranking of #367 in World Junior Tennis, I begin my journey in men's professional tennis at the age of 18.
          %a.new_page.more_text{:href=>"http://www.itftennis.com/juniors/players/player/profile.aspx?PlayerID=100211263"} See my ITF profile
          
      .col.s12.center.button_toggle
        %a.black-text.read_more{:href => "#"}
          %i.fa.fa-angle-down.fa-3x{"aria-hidden" => "true"}
      .col.s12.center.button_toggle.more_text
        %a.black-text.read_more{:href => "#"}
          %i.fa.fa-angle-up.fa-3x{"aria-hidden" => "true"}
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light Analyze this website from the inside
  .parallax
    %img{:src => "food.jpg"}/
.container
  .section
    .row
      .col.s12.m6
        %div#chart
      .col.s12.m6
        %h4.font_poppins Data Visualization Practice
        %p.left-align.light Giving myself an afternoon to learn a new web development tool while building this website, I pick up C3.js to visualize the technologies that are used on this website. This might not be the most beutiful desinged website you will see for one's portfolio, but this might be the most complicated and diversed portfolio you will ever see. Just like building up a company's website, I wrote tests for every routes and animation on the site. Not just showing off my web development skills, I am building this website as a long term project, which should be easily modified and responsive designed in all devices. Developing in __ different branches for for different part of development, a total commits of ____ are made on Github for this site. (You can scroll down to see how the site is built up in order, and you can also click on the small squares to modify the portion between technologies and disable the part you don't want to see) 
        / no idea why the chart bind here even with out the line bindto: '#chart', in init.js
    / .row
    /   .col.s6
    /     .light Try to slide the range bar beside
    /   .col.s6
    /     %form{:action => "#"}
    /       %p.range-field
    /         %input#test5{:max => "100", :min => "1", :type => "range"}
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.right
        .col.s12.black-text.name.font_muli2 Hank Chen, 陳漢宇
  .parallax
    %img.responsive-image{:src => "hank.jpg"}/



/ %p.white-text Hank's Personal website

/ %p.white-text Who am I


/ %p.white-text What is my dream

/ %a{:href www.github/hank860502.com } Github

/ %a{:href => www.linkedin/hank860502.com } Linkedin