#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br
      %br
      %h1.header.center.black-text 陳漢宇
      / 想把header改成手寫中文簽名
      .row.center
        %h5.header.col.s12.light.black-text ＤＥＶＥＬＯＰＥＲ | ＥＮＴＲＥＰＲＥＮＥＵＲ | ＡＴＨＬＥＴＥ
      .row.center
      %br
      %br
  .parallax
    %img{:src => "view.jpg"}/

.container
  .section
    / Icon Section
    .row
      .col.s12.m4
        .icon-block
          %h2.center.black-text
            %i.material-icons airplay
          %h5.center ＤＥＶＥＬＯＰＥＲ
          %p.light Graduated from Dev Bootcamp in San Francisco during my gap year. Attend my first Hackathon in National Taiwan University in August, 2015 and met Jeremy Rosemen, the CEO of Make School, who motivated me to persue my interest in programing.
      .col.s12.m4
        .icon-block
          %h2.center.black-text
            %i.material-icons group
          %h5.center ＥＮＴＲＥＰＲＥＮＥＵＲ
          %p.light We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
      .col.s12.m4
        .icon-block
          %h2.center.black-text
            %i.material-icons power_settings_new
          %h5.center ＡＴＨＬＥＴＥ
          %p.light Competing around the world for junior and men's tournaments for 8 years, 500+ official matches, 50+ cities in 13 countries, and 100000+ hours on practicing, I could not ask for a more plentiful childhood than this. With the highest ranking of #367 in World Junior Tennis, I begin my journey in men's professional tennis at the age of 18.
          %a{:href=>"http://www.itftennis.com/juniors/players/player/profile.aspx?PlayerID=100211263"} My ITF Profile
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light A modern responsive front-end framework based on Material Design
  .parallax
    %img{:src => "food.jpg"}/
.container
  .section
    .row
      .col.s12.center
        %h3
          %i.mdi-content-send.brown-text
        %h4 Contact Us
        %p.left-align.light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light A modern responsive front-end framework based on Material Design
  .parallax
    %img{:src => "hank.jpg"}/



/ %p.white-text Hank's Personal website

/ %p.white-text Who am I


/ %p.white-text What is my dream

/ %a{:href www.github/hank860502.com } Github

/ %a{:href => www.linkedin/hank860502.com } Linkedin