.slider
  %ul.slides
    %li
      %a{:href => "/developer"}
        %img{:src => "view.jpg"}/
        .caption.center-align
          %h3 Developer
          %h5.light.grey-text.text-lighten-3 Making beautiful and meaningful things
    %li
      %a{:href => "/entrepreneur"}
        %img{:src => "coffee.jpg"}/
        .caption.left-align
          %h3 Entrepreneur
          %h5.light.grey-text.text-lighten-3 "Do. Or do not. There is no try." - Yoda, Jedi Master.  
    %li
      %a{:href => "/athlete"}
        %img{:src => "hank.jpg"}/
        .caption.right-align
          %h3 Athlete
          %h5.light.grey-text.text-lighten-3 Tennis player from Taiwan
.container
  .section
    / Icon Section
    .row
      .col.s12.m4
        .icon-block
          %h2.center.black-text
            %a.black-text.link{:href => "/developer"}
              %i.fa.fa-television{"aria-hidden" => "true"}
          .center.font_poppins DEVELOPER
          %p.intro In August, 2015, I attended my first Hackathon in National Taiwan University, where my interest in computer starts. Learning 3 programming languages, 13 frameworks for web and mobile application development, and 2 test-driven delvelopment, I graduated from Dev Bootcamp in San Francisco during...
          %p.intro.more_text  In August, 2015, I attended my first Hackathon in National Taiwan University, where my interest in computer starts. Learning 3 programming languages, 13 frameworks for web and mobile application development, and 2 test-driven delvelopment, I graduated from Dev Bootcamp in San Francisco during my gap year. Attending big and small competitions, I persue my interest in programing and develop my skills in web and mobile development. With my talent in web and mobile application development, my motivation to keep improving is to produce tools that enhance the quality of lives.

      .col.s12.m4
        .icon-block
          %h2.center.black-text
            %a.black-text.link{:href => "/entrepreneur"}
              %i.fa.fa-lightbulb-o{"aria-hidden" => "true"}
          .center.font_poppins ENTREPRENEUR
          %p.intro Combining software engineering technical skills, and athlete's characteristics developed from traveling and training with people from various cultural backgrounds, I am able to bring most of my startup ideas into reality. What motivates me to learn and to innovate is a “positive jealousy”. People who are more...
          %p.intro.more_text Combining software engineering technical skills, and athlete's characteristics developed from traveling and training with people from various cultural backgrounds, I am able to bring most of my startup ideas into reality. What motivates me to learn and to innovate is a “positive jealousy”. I love being surrounded by people from the "major league" becuase I'm always intrigued by their extraordinary mindsets which make me eager to learn. Therefore, I enjoy stepping out of my comfort zone and embracing myself in an unfamiliar environment. In conclusion, passion and preseverance are the words to describe myself as an entrepreneur.
      .col.s12.m4
        .icon-block
          %h2.center.black-text
            %a.black-text.link{:href => "/athlete"}
              %i.fa.fa-battery-full{"aria-hidden" => "true"}
          .center.font_poppins ATHLETE
          %p.intro Playing tennis on a professional level since my teenage years allowed me to bring discipline, integrity and perseverance to any goals I am determined to succeed in. Competing in junior's and men's tournaments around the world for more than 8 years, playing 500+ official matches, in 13 countries, 50+ cities...
          %p.intro.more_text Playing tennis on a professional level since my teenage years allowed me to bring discipline, integrity and perseverance to any goals I am determined to succeed in. Competing in junior's and men's tournaments around the world for more than 8 years, playing 500+ official matches, in 13 countries, 50+ cities, and 100000+ hours on practicing, I could not ask for a richer childhood than this. With the highest ranking of #367 in World Junior Tennis, I began my journey in men's professional tennis at the age of 18.
          %a.new_page.more_text{:href=>"http://www.itftennis.com/juniors/players/player/profile.aspx?PlayerID=100211263"} See my ITF profile
          
      .col.s12.center.button_toggle
        %a.black-text.read_more{:href => "#"}
          %i.fa.fa-angle-down.fa-2x{"aria-hidden" => "true"}
          .light.font_muli read more
      .col.s12.center.button_toggle.more_text
        %a.black-text.read_more{:href => "#"}
          %i.fa.fa-angle-up.fa-2x{"aria-hidden" => "true"}
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light Analyze this website from the inside
  .parallax
    %img{:src => "food.jpg"}/
.container
  .section
    .row
      .col.s12.m6
        %div#chart
      .col.s12.m6
        %h4.font_poppins Data Visualization Practice
        %p.left-align.light 
          Giving myself an afternoon to learn a new web development tool while building this website, I picked up C3.js to visualize the technologies that are used on this website. This might not be the best portfolio website design you have seen, but this website is built in a precise workflow that is maintainable and readable in the backend side. Just like building up a company's website, I wrote tests for every routes and animation on the site, since I aim to build this website as a long term project, which should be easily modified and which the interfaces are friendly for all devices. Developing in 5 different branches for different part of development, commiting clear messages over 150 times, and  sharing my code at 
          %a.active-nav.new_page{:href => "https://github.com/Hank860502/Personal-web"} Github
          , I aimed to have the best practice in Github workflow which I learned from Dev Bootcamp. (You can scroll down to see how the site is built up in order, and you can also click on the small squares to modify the portion between technologies and disable the part you don't want to see) 
        / no idea why the chart bind here even with out the line bindto: '#chart', in init.js
    / .row
    /   .col.s6
    /     .light Try to slide the range bar beside
    /   .col.s6
    /     %form{:action => "#"}
    /       %p.range-field
    /         %input#test5{:max => "100", :min => "1", :type => "range"}
.parallax-container.valign-wrapper
  .parallax
    %img.responsive-image{:src => "blurhank.png"}/



/ %p.white-text Hank's Personal website

/ %p.white-text Who am I


/ %p.white-text What is my dream

/ %a{:href www.github/hank860502.com } Github

/ %a{:href => www.linkedin/hank860502.com } Linkedin