%video#bgvid{:autoplay => "", :loop => "", :muted => "", :playsinline => "", :poster => "blacklogo.png"}
  / WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
  %source{:src => "glitchlogo.mov", :type => "video/webm"}
    %source{:src => "glitchlogo.mov", :type => "video/mp4"}
.font_arvo2.center-align Under Construction
