.center.my_style.font_cuprum2 MY LATEST CODING PROJECTS
.row.my_row.my_style
  .card.col.s12.m4
    .card-image.waves-effect.waves-block.waves-light
      %img.activator{:src => "pioneer.png"}/
      / .responsive-video
      /   %iframe{:allowfullscreen => "", :frameborder => "0", :height => "585", :src => "https://www.youtube.com/embed/0X9UcEOTKEw", :width => "100%"}

    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        Pioneer
        %i.grey-text.right.fa.fa-ellipsis-v{"aria-hidden" => "true"}
      %p
        %a.livedemo{:href => "https://github.com/Hank860502/Pioneer"} Source code
    .card-reveal
      %span.card-title.white-text.text-darken-4
        Pioneer
        %i.material-icons.right close
      %p.white-text This is the final project in Dev Bootcamp. This is a decoupled app that is built in 7 days, program in React Native and Ruby on Rails for our backend API.

  .card.col.s12.m4
    .card-image.waves-effect.waves-block.waves-light
      %img.activator{:src => "candy.jpg"}/
    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        Trick || Treat
        %i.grey-text.right.fa.fa-ellipsis-v{"aria-hidden" => "true"}
      %p
        %a{:href => "https://agile-castle-22672.herokuapp.com/"} Go to app
    .card-reveal
      %span.card-title.white-text.text-darken-4
        Trick || Treat
        %i.material-icons.right close
      %p.white-text This is an Amazone clone that is built in 4 days. It is program in Ruby on Rails, Rspec, Capybara, and Bootstrap.

  .card.col.s12.m4
    .card-image.waves-effect.waves-block.waves-light
      %img.activator{:src => "followyou.jpg"}/
    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        Follow you
        %i.grey-text.right.fa.fa-ellipsis-v{"aria-hidden" => "true"}
      %p
        %a{:href => "http://followyou.herokuapp.com/"} Go to app
    .card-reveal
      %span.card-title.white-text.text-darken-4
        Follow you
        %i.material-icons.right close
      %p.white-text This is an project that is done in 24 hours at the 2016 Shanghai Makerthon and won the best usage of smart glasses prize, provided by Top Smart. This app cooperates with smart glasses to improve travel experiences.

.center.my_style.font_cuprum2 VIDEOS
.container.my_style
  %iframe{:allowfullscreen => "", :frameborder => "0", :width => "853", :height => "480", :src => "https://www.youtube.com/embed/JlyW0fMLOBU"}
%blockquote.instagram-media{"data-instgrm-captioned" => "", "data-instgrm-version" => "7", :style => " background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"}
  %div{:style => "padding:8px;"}
    %div{:style => " background:#F8F8F8; line-height:0; margin-top:40px; padding:37.5% 0; text-align:center; width:100%;"}
      %div{:style => " background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"}
    %p{:style => " margin:8px 0 0 0; padding:0 4px;"}
      %a{:href => "https://www.instagram.com/p/BTBo7nnADdl/", :style => " color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;", :target => "_blank"} Odyssey 令人印象深刻的長途旅程 - 詩人荷馬的奧德賽飄流之旅中 主角奧德修斯在戰爭後漂泊了十年之久才回到家鄉 後人便以Odyssey泛指令人印象深刻的長途旅程 — #英文單字 #英文俚語  #跟你家人說你是在背單字不是在滑ig #odyssey #Kyoto #嵐山 #保津峽
    %p{:style => " color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"}
      A post shared by 陳漢宇 Hank (@hankchentennis) on
      %time{:datetime => "2017-04-18T11:49:38+00:00", :style => " font-family:Arial,sans-serif; font-size:14px; line-height:17px;"} Apr 18, 2017 at 4:49am PDT
%script{:async => "", :defer => "defer", :src => "//platform.instagram.com/en_US/embeds.js"}


