.center.my_style.font_cuprum2 MY LATEST CODING PROJECTS
.row.my_row.my_style
  .card.col.s12.m4
    .card-image.waves-effect.waves-block.waves-light
      %img.activator{:src => "pioneer.png"}/
      / .responsive-video
      /   %iframe{:allowfullscreen => "", :frameborder => "0", :height => "585", :src => "https://www.youtube.com/embed/0X9UcEOTKEw", :width => "100%"}

    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        Pioneer
        %i.grey-text.right.fa.fa-ellipsis-v{"aria-hidden" => "true"}
      %p
        %a.livedemo{:href => "https://github.com/Hank860502/Pioneer"} Source code
    .card-reveal
      %span.card-title.white-text.text-darken-4
        Pioneer
        %i.material-icons.right close
      %p.white-text This is the final project in Dev Bootcamp. This is a decoupled app that is built in 7 days, program in React Native and Ruby on Rails for our backend API.

  .card.col.s12.m4
    .card-image.waves-effect.waves-block.waves-light
      %img.activator{:src => "candy.jpg"}/
    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        Trick || Treat
        %i.grey-text.right.fa.fa-ellipsis-v{"aria-hidden" => "true"}
      %p
        %a{:href => "https://agile-castle-22672.herokuapp.com/"} Go to app
    .card-reveal
      %span.card-title.white-text.text-darken-4
        Trick || Treat
        %i.material-icons.right close
      %p.white-text This is an Amazone clone that is built in 4 days. It is program in Ruby on Rails, Rspec, Capybara, and Bootstrap.

  .card.col.s12.m4
    .card-image.waves-effect.waves-block.waves-light
      %img.activator{:src => "followyou.jpg"}/
    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        Follow you
        %i.grey-text.right.fa.fa-ellipsis-v{"aria-hidden" => "true"}
      %p
        %a{:href => "http://followyou.herokuapp.com/"} Go to app
    .card-reveal
      %span.card-title.white-text.text-darken-4
        Follow you
        %i.material-icons.right close
      %p.white-text This is an project that is done in 24 hours at the 2016 Shanghai Makerthon and won the best usage of smart glasses prize, provided by Top Smart. This app cooperates with smart glasses to improve travel experiences.

.center.my_style.font_cuprum2 VIDEOS
.container.my_style 
  .video_container
    %iframe{:allowfullscreen => "", :frameborder => "0", :class => "video", :src => "https://www.youtube.com/embed/JlyW0fMLOBU"}
  

