.center.my_style.font.light My latest works
.row.my_row.my_style
  .card.col.s12.m4
    .card-image.waves-effect.waves-block.waves-light
      %img.activator{:src => "pioneer.png"}/
    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        Pioneer
      %p
        %a{:href => "#"} Live demo
    .card-reveal
      %span.card-title.grey-text.text-darken-4
        Pioneer
        %i.material-icons.right close
      %p Here is some more information about this product that is only revealed once clicked on.

  .card.col.s12.m4
    .card-image.waves-effect.waves-block.waves-light
      %img.activator{:src => "candy.jpg"}/
    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        Trick || Treat
      %p
        %a{:href => "https://agile-castle-22672.herokuapp.com/"} Live demo
    .card-reveal
      %span.card-title.grey-text.text-darken-4
        Trick || Treat
        %i.material-icons.right close
      %p This is a Amazone clone that is built in 4 days. It is program in Ruby on Rails, Rspec, Capybara, and Bootstrap.

  .card.col.s12.m4
    .card-image.waves-effect.waves-block.waves-light
      %img.activator{:src => "followyou.jpg"}/
    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        Follow you
      %p
        %a{:href => "http://followyou.herokuapp.com/"} Live demo
    .card-reveal
      %span.card-title.grey-text.text-darken-4
        Follow you
        %i.material-icons.right close
      %p Here is some more information about this product that is only revealed once clicked on.