.row.my_row
	%img.col.s12.m6.l6.my_style{:src => "abouthank.jpg"}
	%p.col.s12.m6.l5.right.my_style.font_poppins2
		Hank Chen, Han-Yu Chen, 陳漢宇
	.col.s12.m6.right.l5.font_muli 
		%br You might know me as Han-Yu Chen, a tennis player from Taiwan who is sponsored by Yonex and Adidas.
		%br You might know me as Hank, a developer who travels over 6500 miles to persue his interest in computer programming.
		%br You might also know me as 陳漢宇, who mysteriously disappeared after junior high-school, and took two years off as gap years before college.
		%br However, if you know me really well, you would know that no matter which role I am playing in, I would always put in all my effort. 