.row.about_row
	%img.col.s12.m6.l6.about_style{:src => "abouthank.jpg"}
	%p.col.s12.m6.l5.right.about_style.font_poppins2
		Hank Chen, Han-Yu Chen, 陳漢宇
	.col.s12.m6.right.l5.font_muli 
		%br You might knew me as Han-Yu Chen, the tennis player from Taiwan who is sponsored by Yonex and Adidas.
		%br You might knew me as Hank, the developer who travels over 6500 miles to persue his interest in computer programming.
		%br You might also knew me as 陳漢宇, who took two gap years before college and has been mysteriously disappear after junior high-school.
		%br However, if you really knew me, you will understand that no matter which role I am playing, I tried to accomplish something with my whole effort. 
		%br Is the knowledge that I’m going to die, that creates the focus that i bring to being alive. What i fear is living a life where I could have accomplished something and did’t. —Neil deGrasse Tyson
		%br The reason I push hustle so much, is because it feels like the most fucking controlable thing. Change the outcome of what disappoints you. -Gary Vaynechuk

