.row.about_row
	%img.col.s12.m6.l7.about_style{:src => "hank.jpg"}
	%p.col.s12.m6.l4.right.about_style.font_poppins ABOUT
	.col.s12.m6.right.l4.font_muli In August, 2015, I attend my first Hackathon in National Taiwan University, where my interest in computer starts. Learning 3 computer languages, 13 frameworks for web and mobile application development, and 2 test-driven delvelopment, I graduated from Dev Bootcamp in San Francisco during my gap year. Attending big and small competition, I persue my interest in programing and develop my skills in web and mobile development. With my talent in web and mobile application development, my motivation to keep improving is to produce tools that enhance the quality of live
