/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.myfooter{
	background-color: white;
	height: 25vw;
}

.footer_links {
	margin-top: 80px;
}

.copyright {
	padding-top: 10px;
}

.name {
	margin-top: 300px;
}

i {
	margin-left: 5px;
}

hr.footer {
	width: 40%;
}

a {
    cursor: pointer;
}

.more_text {
	display: none;
}

.navbar-logo {
	height: 64px;
}

.custom_modal{
  width: 75%;
}

.custom_img{
  width: 100%;
}

.active-nav{
  text-decoration: underline;
}

.underline:hover {
  text-decoration: underline;
  background-color: white;
}

.about_style{
  margin-top: 70px;
}

.about_row{
  width: 85%;
}

.font_poppins{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.0655em;
  font-size: 25px;
}

.font_poppins2{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.0655em;
  font-size: 20px;
}

.font_muli{
  font-family: 'Muli', sans-serif;
  letter-spacing: 0.0655em;
  font-size: 14px;
}

.font_muli2{
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}

.font_arvo{
  font-family: 'Arvo', serif;
  letter-spacing: 0.0635em;
  font-size: 13px;

}
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

@media (max-width: 600px) {
  .navbar-logo {
    height: 50px;
    padding-top: 2px;
  }
    /*hank.jpg from home page not looking good in mobile*/

}

/*#circle {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: white;
}*/
