<!DOCTYPE html>
<html>
	<head>
	  <title>HankChen</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- materialize icon -->
	  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link href="../c3/c3.css" rel="stylesheet" type="text/css">


  </head>

  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/init.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Load d3.js and c3.js -->
    <script src="../d3/d3.min.js"></script>
    <script src="../c3/c3.min.js"></script>

  	<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="fulllogo.png" class= "navbar-logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Resume</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Resume</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
		<%= yield %>

  <footer class="myfooter">
  <center><a class="black-text go_top" href="#top"><i class="fa fa-angle-up fa-4x" aria-hidden="true"></i></a></center>
    <div class="footer_links">
      <center><a class="black-text footer_link" href="https://github.com/Hank860502"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a class="black-text footer_link" href="https://www.linkedin.com/in/hank860502"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a class="black-text footer_link" href="mailto:hank860502@gmail.com"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></a>
      <a class="black-text footer_link" href="https://www.facebook.com/profile.php?id=100001986804471"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
      <a class="black-text footer_link" href="https://www.instagram.com/hank0502/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      </center>
    </div>
    <hr class="footer">
    <center class="copyright">© Hank Chen | 2016</center>

  </footer>
	</body>
</html>
