<!DOCTYPE html>
<html>
	<head>
	  <title>HankChen</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- materialize icon -->
	  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	</head>

  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  	<script src="js/init.js"></script>

  	<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Han-Yu Chen</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Resume</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Resume</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
		<%= yield %>

  <footer class="myfooter">
    <div class="footer_links"><center><a class="white-text" href="https://github.com/Hank860502"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    <a class="white-text" href="https://www.linkedin.com/in/hank860502"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></center></div>
    <center><p class="white-text">© Hank Chen | 2016</p></center>
  </footer>
	</body>
</html>
