!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title HankChen
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    / materialize icon
    %link{:href => "http://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Arvo|Muli|Poppins", :rel => "stylesheet"}
    %link{:href => "/font-awesome/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "../c3/c3.css", :rel => "stylesheet", :type => "text/css"}
  %body

    %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js", :type => "text/javascript"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
    %script{:src => "../d3/d3.min.js"}
    %script{:src => "../c3/c3.min.js"}

    -if request.original_url == "http://hankchentennis.com/" || request.original_url == "http://hankchentennis.com/about" || request.original_url == "http://localhost:3000/" || request.original_url == "http://localhost:3000/about"
      %nav.white{:role => "navigation"}
        .nav-wrapper.container
          %a#logo-container.brand-logo{:href => "/"}
            %img.navbar-logo{:src => "sign.png"}
          %ul.right.hide-on-med-and-down
            %li
              %a.underline.black-text.active-nav.font_muli2{:href => "/"} Home
            %li
              %a.underline.grey-text.font_muli2{:href => "/about"} About Me
            %li
              %a.modal-trigger.underline.grey-text.font_muli2{:href => "#modal1"} Resume
              #modal1.modal.modal-fixed-footer.custom_modal
                .modal-content
                  %h4.black-text.font_arvo Preview resume
                  %img.custom_img{:src => "resume.png"}
                .modal-footer
                  %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#"} Close
                  %a.modal-action.waves-effect.waves-green.btn-flat{:href => "/resume.pdf", :target => "_blank"} Download
          %ul#nav-mobile.side-nav
            %li
              .userView
                .background
                  %img{:src => "blurhank.jpg"}/
                %a{:href => "#!user"}
                  %img.circle{:src => "smallabouthank.jpg"}/
                %a{:href => "#!name"}
                  %span.white-text.name Hank Chen
                %a{:href => "#!email"}
                  %span.white-text.email hankchentennis@gmail.com
            %li
              %a{:href => "/about"}
                %i.fa.fa-info-circle
                About Me

          %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
            %i.fa.fa-bars.black-text{"aria-hidden" => "true"}
            
    -else
      %a{:href=> "/"}
        %img.athlete_logo{:src => "blacklogo.png"}

    = yield
    -if request.original_url == "http://hankchentennis.com/"
      %footer.myfooter
        %center
          %a.black-text.go_top{:href => "#top"}
            %i.fa.fa-angle-up.fa-4x{"aria-hidden" => "true"}
            .footer_links
          %center
            %a.black-text.link{:href => "https://github.com/Hank860502"}
              %i.fa.fa-github.fa-2x{"aria-hidden" => "true"}
            %a.black-text.link{:href => "https://www.linkedin.com/in/hank860502"}
              %i.fa.fa-linkedin.fa-2x{"aria-hidden" => "true"}
            %a.black-text.link{:href => "mailto:hank860502@gmail.com"}
              %i.fa.fa-paper-plane.fa-2x{"aria-hidden" => "true"}
            %a.black-text.link{:href => "https://www.facebook.com/people/Chen-Hanyu/100001986804471"}
              %i.fa.fa-facebook.fa-2x{"aria-hidden" => "true"}
            %a.black-text.link{:href => "https://www.instagram.com/hank0502"}
              %i.fa.fa-instagram.fa-2x{"aria-hidden" => "true"}
        %hr.footer
        %center.copyright.font_arvo © Hank Chen | 2016
    
    -elsif request.original_url == "http://hankchentennis.com/about"
      %footer
        .row.about_row.about_style
          .col.l6.s12
            %a.black-text.link{:href => "https://github.com/Hank860502"}
              %i.fa.fa-github{"aria-hidden" => "true"}
            %a.black-text.link{:href => "https://www.linkedin.com/in/hank860502"}
              %i.fa.fa-linkedin{"aria-hidden" => "true"}
            %a.black-text.link{:href => "https://www.facebook.com/people/Chen-Hanyu/100001986804471"}
              %i.fa.fa-facebook{"aria-hidden" => "true"}
            %a.black-text.link{:href => "https://www.instagram.com/hank0502"}
              %i.fa.fa-instagram{"aria-hidden" => "true"}
          .col.l4.offset-l2.s12.font_muli
            %ul
              %li
                email:
                %a.black-text{:href => "mailto:hank860502@gmail.com"} hank860502@gmail.com
              %li
                phone: +(886)937-583-271
    -else
